server:
  port: 8081

spring:
  application:
    name: user-authentication-service
  datasource:
    url: jdbc:mysql://localhost:3306/pinterest_user_db?createDatabaseIfNotExist=true
    username: root
    password: vishwa08
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: user-authentication-service
        enabled: true

jwt:
  secret: pinterest-secret-key-for-jwt-token-generation-2024
  expiration: 86400000

resilience4j:
  circuitbreaker:
    instances:
      loginCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 3
        permittedNumberOfCallsInHalfOpenState: 2
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 60s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        recordExceptions:
          - java.lang.Exception
  timelimiter:
    instances:
      loginCircuitBreaker:
        timeoutDuration: 3s

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.pinterest: DEBUG
    org.springframework.security: DEBUG




