server:
  port: 8083

spring:
  application:
    name: collaboration-service
  datasource:
    url: jdbc:mysql://localhost:3306/pinterest_collaboration_db?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: collaboration-service
        enabled: true
        prefer-ip-address: true
        hostname: localhost
resilience4j:
  circuitbreaker:
    instances:
      collaborationCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 3
        permittedNumberOfCallsInHalfOpenState: 2
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 60s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        recordExceptions:
          - java.lang.Exception
  timelimiter:
    instances:
      collaborationCircuitBreaker:
        timeoutDuration: 3s

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.pinterest: DEBUG




